<%= render 'shared/banner' %>

<div class="container">

  <div class="page-header">
    <div class="container">
      <h1>booooooking index</h1>
    </div>
  </div>

  <div class="table-responsive container">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Brand</th>
          <th>Model</th>
          <th>is_rented</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <% @bags.each do |bag| %>
          <tr>
            <td><%= bag.id %></td>
            <td><%= bag.brand %></td>
            <td><%= bag.model %></td>
            <td><%= bag.is_rented %></td>
            <td><%= bag.location %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>