<div class="container">
  <br>
  <div class="page-header">
      <h1>選擇背包</h1>
  </div>
  <!-- bag list -->
  <% @bags.each do |bag| %>
    <div class="col-md-9 container bag_select_area">
      <div class="bag_header">
        <%= bag.brand+"  "+bag.model %>
      </div>
      <div class="col-md-4 bag_pic">
        <%= image_tag bag.image.url(:medium) %>
      </div>
      <div class="col-md-8 bag_info">
        <ul>
          <li><%= bag.brand %></li>
          <li><%= bag.model %></li>
          <li><%= bag.is_rented %></li>
          <li><%= bag.location %></li>
        </ul>
      </div>
    </div>
  <% end %>

  <!-- guest information -->
  <div class="col-md-3">
    <aside class="guest_schedule_header"><span>你的行程表</span></aside>
    <div class="guest_schedule_info">
      <ul>
        <li><label>取包時間</label></li>
          <p><%= @booking.pickup_date %></p><br>
        <li><label>還包時間</label></li>
          <p><%= @booking.return_date %></p><br>
        <li><label>取包和還包地點</label></li>
          <p><%= @booking.get_bag_location %></p><br>
        <li><label>旅遊目的地</label></li>
          <p><%= @booking.destination %></p><br>
      </ul>
    </div>
  </div>
</div>