<div class="container">
  <div class="page-header">
      <h1>new html</h1>
  </div>
<br>
  <P><%= @booking_status %> </P>

  <ul>

    <li>
      <%= @booking.destination %>
      <%= @booking.pickup_date %>
      <%= @booking.return_date %>
      <%= @booking.bag_id %>
    </li>
  </ul>


</div>

<% if false %>
  <%= form_for @event, :url => { :controller => 'events', :action => 'create' } do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>

    <%= f.submit "Create" %>
<% end %>
  <% end %>