<div class="container">
  <br>
  <div class="page-header">
      <h1>選擇背包</h1>
  </div>

  <!-- bag list -->
  <div class="col-md-9 container">
    <% @bags.each do |bag| %>
    <div class="bag_select_area clearfix">
      <div class="bag_header">
        <%= bag.brand+"  "+bag.model %>
      </div>
      <div class="col-md-4 bag_pic">
        <%= image_tag bag.image.url(:medium) %>
      </div>
      <div class="col-md-8 bag_info">
      <%= form_for @booking, :url => booking_path(@booking) , :method => :patch do |b| %>
        <ul>
          <li>品牌：    <%= bag.brand %></li>
          <li>型號：    <%= bag.model %></li>
          <li>背包地點： <%= bag.location %></li>
          <li>出租中：   <%= bag.is_rented %></li>
          <br>
          <li>選擇此背包：<%= b.select :bag_id, options_for_select({ "是" => bag.id, "否" => "0" }, "0") %></li>
<%= b.submit "下一步", :class=> "searchbar_submit btn btn-primary btn-large", :status => "select_bag"%>
        </ul>
      </div>


      <% end %>
    </div>
    <% end %>
  </div>

  <!-- guest information -->
  <div class="col-md-3 clearfix container">
    <aside class="guest_schedule_header"><span>你的行程表</span></aside>
    <div class="guest_schedule_info">
      <ul>
        <li><label>取包時間</label></li>
          <p><%= @booking.pickup_date %></p><br>
        <li><label>還包時間</label></li>
          <p><%= @booking.return_date %></p><br>
        <li><label>取包和還包地點</label></li>
          <p><%= @booking.get_bag_location %></p><br>
        <li><label>旅遊目的地</label></li>
          <p><%= @booking.destination %></p><br>
      </ul>
    </div>
  </div>

</div>