<div class="sign_in_page">
  <br>
  <div class="row">
    <h1 class="mark_log_in">Keep Backpacking</h1>
  </div>
  <div class="row">
    <div class="sign_in_form">
      <div class="facebook_login">
        <div class="btn_login_fb btn">使用 Facebook 登入</div>
        <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
      </div>
      <div class="sign_in_line">
        <span class="text-center">or</span>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class =>"form-control" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", :class =>"form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "使用 Email 登入", class:"btn btn-primary btn-block" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

  <!-- Site footer -->
<footer class="sign_in_footer">
  <!-- <hr> -->
  <p>&copy; Keep Backpacking 2013-2016</p>
</footer>
